.feed-form {
    hr {
        border: 1px solid #fff;
    }
    input {
        height: 28px;
        border: none;
        font-family: 'Tele2 TextSans Web SHORT';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        background: $main-color;
        color: #fff;
    }
}