.timetable {
    position: relative;
    min-height: 711px;
    padding: 64px 0 64px 0;
    &__date {
        margin-top: 32px;
        font-family: 'Tele2 DisplaySerif';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        color: $main_color;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
        font-family: 'Tele2 TextSans Web SHORT';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: $main_color;
        span {
            font-family: 'Tele2 DisplaySerif';
            font-size: 31px;
            line-height: 42px;
            color: #C3E400;
        }
    }
}